.list-textarea {
    width: 34rem;
}

.list-container {
    width: 40vw;

    
    .state-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        margin-bottom: .5rem;
        
        .form-input {
            
        }
        
        button {
            // position: absolute;
        }
    }
}