.state-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;

    .form-input {
        
    }

    button {
        // position: absolute;
    }
}