$dark-blue: rgba(29, 45, 61, 1);
$primary-blue: rgba(41, 56, 71, 1);
$yellow: rgba(227, 152, 0, 1);
$white: white;
$dark-grey: rgba(63, 76, 90, 1);
$main-grey: rgba(201, 205, 209, 1);
$green: rgba(105, 191, 74, 1);
$red: rgba(250, 82, 113, 1);
$yellow: rgba(227, 152, 0, 1);

.form-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: baseline;
    width: 80vw;
    gap: 2rem;
    padding-bottom: 5rem;
    

    .main-form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        align-items: baseline;
        border-bottom: 1px solid $dark-blue;
        padding-bottom: 3rem;
        width: 80vw;
    }
    
    .main-state-container {
        display: grid;
        width: 80vw;
        gap: 2rem;
        align-items: baseline;

        grid-template-columns: 50% 50%;
        padding-bottom: 3rem;

        border-bottom: 1px solid $dark-blue;
        
        .new-container--title_container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-content: center;
            margin-bottom: .5rem;


            .news {
                color: $green;
            }
            .updates {
                color: $yellow;
            }
            .errors {
                color: $red;
            }
            
            h5 {
                color: $main-grey;
            }
        }
    }
    .add-new--btn-container {
        display: flex;
        margin-left:  auto;
        button[type="submit"] {

            width: 20rem;
        }
    }

    

}