
$main-grey: rgb(243, 243, 243);
$main-color: black;
$white: white;
$dark-grey: rgba(63, 76, 90, 1);
$red: rgba(250, 82, 113, 1);

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: $main-grey;
    color: $dark-grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: 2px solid transparent;

    border-radius: 5px;


    &:focus {
      outline: none;
      background-color: $white;

    }

  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .error {
    border: 2px solid $red;

  }
 
}